<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>Yeoman custom-elements</title>

  <script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="elements/elements.html">
  <link rel="stylesheet" href="styles/main.css">

</head>
<body>
  <parent-element>
    <child-element>
      <p>Im normal! I come from the index file.</p>
    </child-element>
  </parent-element>

  <yeoman-greeter></yeoman-greeter>

  <break-out></break-out>

  <script src="scripts/main.js"></script>
</body>
</html>
